body{
    background-color: rgb(224, 224, 224);
     margin: 10px;
     font-family: sans-serif;
     font-weight:lighter;
     text-decoration:none;

}

h1{
    color: rgb(250, 250, 250);
    background-color: rgb(124, 63, 133);
    text-align: center;
    font: 20px 'tahoma';
    box-shadow: 2px 2px 5px black;
    

}
#header{
    text-align: center;
}



.box1{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    
   
}


.highlight{
   color: red;
   padding:10px;
  
}
#education{
    border: 1px solid black;
    font-weight:bold;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff;
}
p{
    color: #000;
    padding:10px;
}


#routine{
     margin: 10px;
      border: 1px solid black;
     border-radius: 10px;
     background-color: #fff;
}

input[type="text"]{
    
    border-color: rgb(88, 49, 124);
    outline: none;
    cursor:pointer;
    border-radius: 5px;
    
}

input[type="number"]{
    
    border-color: rgb(88, 49, 124);
    outline: none;
    cursor:pointer;
    border-radius: 5px;
}

input[type="submit"]{
    
    border-color: rgb(88, 49, 124);
    outline: none;
   
    position: relative;
    cursor:pointer;
    padding: 2px;
    left:5px;
    border-radius: 100px;
    
}



input[type="radio"]{
    cursor:pointer;
}
form{
    margin: 10px;
    border:1px solid black;
    border-radius: 10px;
    background-color: #fff;
}


.table{
    margin: 20px;
    border:1px solid black;
}
img{
    
    border:1px solid black;
    
}

#contact{
     margin: 20px;
    border:1px solid black;
     border-radius: 10px;
     background-color: #fff;
}


